# 3.Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a 
dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and quantitative
variable is income, then provide summary statistics of income grouped by the age groups.
Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of
iris.csv dataset.

In [3]:
import pandas as pd 
import numpy as np
import statistics as stat
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('Iris.csv')

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [8]:
summary_stats = df.groupby('SepalLengthCm')['SepalWidthCm'].describe()
print(summary_stats)

               count      mean       std  min    25%   50%    75%  max
SepalLengthCm
4.3              1.0  3.000000       NaN  3.0  3.000  3.00  3.000  3.0
4.4              3.0  3.033333  0.152753  2.9  2.950  3.00  3.100  3.2
4.5              1.0  2.300000       NaN  2.3  2.300  2.30  2.300  2.3
4.6              4.0  3.325000  0.221736  3.1  3.175  3.30  3.450  3.6
4.7              2.0  3.200000  0.000000  3.2  3.200  3.20  3.200  3.2
4.8              5.0  3.180000  0.204939  3.0  3.000  3.10  3.400  3.4
4.9              6.0  2.866667  0.326599  2.4  2.625  3.05  3.100  3.1
5.0             10.0  3.120000  0.543241  2.0  3.050  3.35  3.475  3.6
5.1              9.0  3.477778  0.411636  2.5  3.400  3.50  3.800  3.8
5.2              4.0  3.425000  0.573730  2.7  3.225  3.45  3.650  4.1
5.3              1.0  3.700000       NaN  3.7  3.700  3.70  3.700  3.7
5.4              6.0  3.550000  0.350714  3.0  3.400  3.55  3.850  3.9
5.5              7.0  2.842857  0.723089  2.3  2.400  2.50  3.050  4.2
5.6              6.0  2.816667  0.194079  2.5  2.725  2.85  2.975  3.0
5.7              8.0  3.100000  0.656832  2.5  2.750  2.85  3.200  4.4
5.8              7.0  2.885714  0.494734  2.6  2.700  2.70  2.750  4.0
5.9              3.0  3.066667  0.115470  3.0  3.000  3.00  3.100  3.2
6.0              6.0  2.733333  0.471876  2.2  2.325  2.80  2.975  3.4
6.1              6.0  2.850000  0.151658  2.6  2.800  2.85  2.975  3.0
6.2              4.0  2.825000  0.492443  2.2  2.650  2.85  3.025  3.4
6.3              9.0  2.855556  0.400347  2.3  2.500  2.80  3.300  3.4
6.4              7.0  2.957143  0.207020  2.7  2.800  2.90  3.150  3.2
6.5              5.0  3.000000  0.141421  2.8  3.000  3.00  3.000  3.2
6.6              2.0  2.950000  0.070711  2.9  2.925  2.95  2.975  3.0
6.7              8.0  3.050000  0.250713  2.5  3.000  3.10  3.150  3.3
6.8              3.0  3.000000  0.200000  2.8  2.900  3.00  3.100  3.2
6.9              4.0  3.125000  0.050000  3.1  3.100  3.10  3.125  3.2
7.0              1.0  3.200000       NaN  3.2  3.200  3.20  3.200  3.2
7.1              1.0  3.000000       NaN  3.0  3.000  3.00  3.000  3.0
7.2              3.0  3.266667  0.305505  3.0  3.100  3.20  3.400  3.6
7.3              1.0  2.900000       NaN  2.9  2.900  2.90  2.900  2.9
7.4              1.0  2.800000       NaN  2.8  2.800  2.80  2.800  2.8
7.6              1.0  3.000000       NaN  3.0  3.000  3.00  3.000  3.0
7.7              4.0  3.050000  0.525991  2.6  2.750  2.90  3.200  3.8
7.9              1.0  3.800000       NaN  3.8  3.800  3.80  3.800  3.8

In [9]:
summary_stats = df.groupby('PetalLengthCm')['PetalWidthCm'].describe()
print(summary_stats)

               count      mean       std  min    25%   50%    75%  max
PetalLengthCm
1.0              1.0  0.200000       NaN  0.2  0.200  0.20  0.200  0.2
1.1              1.0  0.100000       NaN  0.1  0.100  0.10  0.100  0.1
1.2              2.0  0.200000  0.000000  0.2  0.200  0.20  0.200  0.2
1.3              7.0  0.257143  0.078680  0.2  0.200  0.20  0.300  0.4
1.4             12.0  0.216667  0.057735  0.1  0.200  0.20  0.225  0.3
1.5             14.0  0.221429  0.112171  0.1  0.125  0.20  0.275  0.4
1.6              7.0  0.285714  0.157359  0.2  0.200  0.20  0.300  0.6
1.7              4.0  0.350000  0.129099  0.2  0.275  0.35  0.425  0.5
1.9              2.0  0.300000  0.141421  0.2  0.250  0.30  0.350  0.4
3.0              1.0  1.100000       NaN  1.1  1.100  1.10  1.100  1.1
3.3              2.0  1.000000  0.000000  1.0  1.000  1.00  1.000  1.0
3.5              2.0  1.000000  0.000000  1.0  1.000  1.00  1.000  1.0
3.6              1.0  1.300000       NaN  1.3  1.300  1.30  1.300  1.3
3.7              1.0  1.000000       NaN  1.0  1.000  1.00  1.000  1.0
3.8              1.0  1.100000       NaN  1.1  1.100  1.10  1.100  1.1
3.9              3.0  1.233333  0.152753  1.1  1.150  1.20  1.300  1.4
4.0              5.0  1.220000  0.130384  1.0  1.200  1.30  1.300  1.3
4.1              3.0  1.200000  0.173205  1.0  1.150  1.30  1.300  1.3
4.2              4.0  1.325000  0.125831  1.2  1.275  1.30  1.350  1.5
4.3              2.0  1.300000  0.000000  1.3  1.300  1.30  1.300  1.3
4.4              4.0  1.325000  0.095743  1.2  1.275  1.35  1.400  1.4
4.5              8.0  1.512500  0.112599  1.3  1.500  1.50  1.525  1.7
4.6              3.0  1.400000  0.100000  1.3  1.350  1.40  1.450  1.5
4.7              5.0  1.420000  0.148324  1.2  1.400  1.40  1.500  1.6
4.8              4.0  1.700000  0.200000  1.4  1.700  1.80  1.800  1.8
4.9              5.0  1.720000  0.216795  1.5  1.500  1.80  1.800  2.0
5.0              4.0  1.775000  0.221736  1.5  1.650  1.80  1.925  2.0
5.1              8.0  1.925000  0.310530  1.5  1.750  1.90  2.075  2.4
5.2              2.0  2.150000  0.212132  2.0  2.075  2.15  2.225  2.3
5.3              2.0  2.100000  0.282843  1.9  2.000  2.10  2.200  2.3
5.4              2.0  2.200000  0.141421  2.1  2.150  2.20  2.250  2.3
5.5              3.0  1.900000  0.173205  1.8  1.800  1.80  1.950  2.1
5.6              6.0  2.050000  0.388587  1.4  1.875  2.15  2.350  2.4
5.7              3.0  2.300000  0.200000  2.1  2.200  2.30  2.400  2.5
5.8              3.0  1.866667  0.305505  1.6  1.700  1.80  2.000  2.2
5.9              2.0  2.200000  0.141421  2.1  2.150  2.20  2.250  2.3
6.0              2.0  2.150000  0.494975  1.8  1.975  2.15  2.325  2.5
6.1              3.0  2.233333  0.305505  1.9  2.100  2.30  2.400  2.5
6.3              1.0  1.800000       NaN  1.8  1.800  1.80  1.800  1.8
6.4              1.0  2.000000       NaN  2.0  2.000  2.00  2.000  2.0
6.6              1.0  2.100000       NaN  2.1  2.100  2.10  2.100  2.1
6.7              2.0  2.100000  0.141421  2.0  2.050  2.10  2.150  2.2
6.9              1.0  2.300000       NaN  2.3  2.300  2.30  2.300  2.3

In [94]:

df.groupby('Species')[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].mean()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026

In [95]:

df.groupby('Species')[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].median()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa                5.0           3.4           1.50           0.2
Iris-versicolor            5.9           2.8           4.35           1.3
Iris-virginica             6.5           3.0           5.55           2.0

In [96]:

df.groupby('Species')[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].min()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa                4.3           2.3            1.0           0.1
Iris-versicolor            4.9           2.0            3.0           1.0
Iris-virginica             4.9           2.2            4.5           1.4

In [97]:

df.groupby('Species')[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].max()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa                5.8           4.4            1.9           0.6
Iris-versicolor            7.0           3.4            5.1           1.8
Iris-virginica             7.9           3.8            6.9           2.5

In [100]:

df.groupby('Species')[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].quantile()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa                5.0           3.4           1.50           0.2
Iris-versicolor            5.9           2.8           4.35           1.3
Iris-virginica             6.5           3.0           5.55           2.0

In [101]:
df.groupby('Species')[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].quantile(0.25)

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              4.800         3.125            1.4           0.2
Iris-versicolor          5.600         2.525            4.0           1.2
Iris-virginica           6.225         2.800            5.1           1.8